<div id="page" class="pt-5">
    <div class="container pt-5">
        <div class="mt-5 ">
            <h4>Orders List</h4>
        </div>
    </div>
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped" id="user-table">
                        <thead>
                            <tr>
                                <th scope="col">Order ID & Date</th>

                                <th scope="col">User</th>

                                <th scope="col">Total</th>
                                <th scope="col">Payment</th>

                                <th scope="col">Details</th>


                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>

                                <td scope="row">
                                    <div>Time :{{this.date}} </div>
                                    <div>Date :{{this.date}}</div>
                                    <div>Order ID :{{this._id}}</div>
                                </td>

                                <td>

                                    <div>Address :{{this.deliveryDetails.house}} </div>
                                    <div>PIN :{{this.deliveryDetails.pincode}} </div>
                                    <div>Mobile :{{this.deliveryDetails.mobile}}</div>
                                </td>
                                <td>
                                    <div>total Amount Paid :Rs{{this.totalAmountPaid}}</div>
                                    <div>total Amount Paid Refunded : Rs{{this.amountToBeRefunded}}</div>
                                </td>

                                <td>
                                    <div>Method :{{this.paymentMethod}} </div>
                                    <div>Payment Status :{{this.status}}</div>
                                </td>

                                <td><a href="/viewOrderProducts/{{this._id}}" class="btn primary-btn">Details</a></td>

                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>