<div class="container pt-5">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-6 text-center pt-md-5">
            <div class="section-title">
                <h1>Search Results</h1>
            </div>
        </div>
    </div>
    <div class="row ">
        {{#each products}}
        <!-- single product -->
        <div class="col-lg-3 col-md-6 pb-5">
            <div class="single-product ">
                <img class="img-fluid border border-warning rounded" src="/uploads/{{this.image.[0].image1}}" alt="">
                <div class="product-details ">
                    <h6><a href="/viewProduct/{{this._id}}">{{this.productName}}</a></h6>
                    <div class="price">
                        <h6>Rs {{this.price}}</h6>
                        <h6 style="color:darkred" class="l-through">Rs {{this.MRP}}</h6>
                        <h6 style="color:darkred">{{this.discount}} % off</h6>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</div>